.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 1;
}

.todo-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  box-sizing: border-box;
}

.pomodoro-timer {
  z-index: 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-primary);
  width: 100%;
}

.notes-section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  background: var(--bg-primary);
  color: var(--text-color);
  border-color: var(--text-color);
  padding: 5px;
}

button:disabled {
  background: none;
  border-color: var(--text-color);
  color: var(--text-color);
  background: transparent;
  cursor: not-allowed;
  opacity: 50%;
}