.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 1;
}

.todo-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  box-sizing: border-box;
}

.pomodoro-timer {
  z-index: 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}

.notes-section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  border-color: #000000;
  padding: 5px;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:disabled {
  background-color: none;
  border-color: #000000;
  color: #000000;
  background-color: transparent;
  cursor: not-allowed;
  opacity: 50%;
}