.headerContainer {
   z-index: 1000;
}

.header {
   display: flex;
   height: 40px;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background: var(--user-accent-color);
   color: white;
   position: relative;
}

.site-name {
   font-size: 2rem;
   font-weight: bolder;
   color: white;
   letter-spacing: .2rem;
   align-self: center;
}
.presets-dropdown {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.presets-dropdown select {
   padding: 5px;
   font-size: 16pt;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   background: rgba(0, 0, 0, 0.25);
   color: white;
}

.presets-dropdown select option {
   background: white;
   color: black;
}

.presets-dropdown select:hover {
   background: rgba(0, 0, 0, 1);
   padding: 5px;
   cursor: pointer;
   transition: background 0.3s ease, color 0.3s ease;
}

.badge-button {
   background: rgba(0, 0, 0, 0.25);
   color: white;
   border: none;
   font-size: 16pt;
   font-weight: bold;
   cursor: pointer;
   padding: 5px;
}

.badge-button:hover {
   color: white;
   background: black;
   transition: background 0.3s ease;
}

.hamburger-button {
   background: rgba(0, 0, 0, 0.25);
   border: none;
   cursor: pointer;
}

.settings {
   padding-right: 8%;
}

.settings-button {
   color: white;
   background: rgba(0, 0, 0, 0.25);
   border: none;
   cursor: pointer;
}

.settings-button:hover {
   background: black;
   transition: background 0.3s ease;
}

.settings-icon {
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   filter: invert(100%);
}

.hamburger-icon {
   width: 24px;
   height: 24px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .hamburger-icon span {
   display: block;
   width: 100%;
   height: 2px;
   background: currentColor;
   border-radius: 2px;
 }
