.notesContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background: var(--bg-secondary);
    border: 2px solid var(--text-color);    
    z-index: 2;
    transition: transform 0.3s ease;
}

.notesContainer.hidden {
    transform: translateX(calc(100% - 80px));
}

.notesContainer button:not(:disabled):hover {
    filter: invert(1);
    border-color: transparent;
    transition: filter 0.3s ease, border-color 0.3s ease;
}

.toggleButton {
    width: 40px;
    height: 50px;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--text-color);
    background-color: var(--bg-secondary);
    transition: opacity 0.3s ease;
}

.notesIcon {
    margin-top: 5px;
}

.notesHeader {
    font-size: 1.8em;
    opacity: 100%;
    color: var(--text-color);
    transition: opacity 0.3s ease;
}

.notesHeader.hidden {
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.noteBox {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    background: var(--bg-primary);
    color: var(--text-color);
    resize: none;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.noteBox.hidden {
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}