.notesContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background: var(--bg-secondary);
    border: 2px solid var(--text-color);    
    z-index: 2;
    transition: transform 0.3s ease;
}

.notesContainer.hidden {
    transform: translateX(calc(100% - 90px));
}

.toggleButton {
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.notesIcon {
    fill: var(--text-color);
    background: var(--bg-secondary);
    padding: 5px;
    border-radius: 5px;
}

.notesIcon:hover {
    filter: invert(1);
    transition: filter 0.3s ease;
}

.closeIcon {
    width: 100%;
    height: 100%;  
    border-radius: 5px;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--bg-secondary);
  }
  
  .closeIcon:hover {
    background-color: var(--red);
    color: white;
    transition: all 0.3s ease;
  }

.notesHeader {
    font-size: 1.8em;
    opacity: 100%;
    color: var(--text-color);
    transition: opacity 0.3s ease;
    margin-top: -6px;
}

.notesHeader.hidden {
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.noteBox {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    background: var(--bg-primary);
    color: var(--text-color);
    resize: none;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.noteBox.hidden {
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}