.pomodoro-timer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   flex-direction: column;
   padding: 20px;
}

.pomodoro-timer-container button {
   border-radius: 8px;
   background: var(--bg-secondary);
   color: var(--text-color);
}

.pomodoro-timer-container button:hover,
.preset-label select:hover {
   filter: invert(1);
   cursor: pointer;
   transition: filter 0.3s ease;
}

.timer-title {
   font-size: 3rem;
   font-weight: bold;
   color: var(--text-color);
}
 
.pomodoro-timer-display {
   font-size: 10rem;
   font-weight: bold;
   color: var(--user-accent-color);
}

.preset-label {
   font-size: 1.5rem;
   font-weight: bold;
   margin-top: 20px;
   color: var(--text-color);
}

.preset-select {
   height: 45px;
   gap: 20px;
   padding: 10px 20px;
   margin-top: 10px;
   margin-left: 10px;
   font-size: 1.5rem;
   font-weight: bold;
   border-width: 0px;
   border-radius: 8px;
   color: var(--text-color);
   background: var(--bg-secondary);
   transition: background 0.3s;
}

.add-preset-button {
   height: 45px;
   padding: 10px 20px;
   margin-left: 40px;
   font-size: 1.5rem;
   font-weight: bold;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   color: var(--text-color);
   background: var(--bg-secondary);
   transition: background 0.3s;
}

.control-buttons {
   display: flex;
   gap: 40px;
   margin-top: 40px;
}

.pomodoro-timer-buttons {
   padding: 10px 20px;
   font-size: 1.5rem;
   font-weight: bold;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   width: 120px;
   height: 45px;
}

.modal-line{
   display: flex;
   gap: 10px;
}

.inputField {
   padding: 5px;
   border-radius: 5px;
   background: transparent;
   width: 100px;
}

.session-type {
   font-size: 1.5rem;
   font-weight: bold;
   margin-top: 20px;
   color: var(--text-color);
}

.hints {
   bottom: 10px;
   width: 100%;
   text-align: center;
   font-size: 1.5rem;
   font-style: italic;
   padding-top: 10%;
   color: var(--text-color);
}

.save-button {
   background: var(--bg-primary);
   cursor: pointer;
   transition: filter 0.3s ease;
}

.save-button:hover {
   filter: invert(1);
   cursor: pointer;
   transition: filter 0.3s ease;
}