.side-panel {
   position: fixed;
   top: 0;
   left: 0;
   width: 250px;
   height: 100vh;
   background-color: var(--bg-primary);
   border: 2px solid var(--text-color);
   color: var(--text-color);
   transform: translateX(-100%);
   transition: transform 0.3s ease;
   padding: 20px;
   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
   z-index: 3;
}

.side-panel.open {
   transform: translateX(0);
}

.close-button {
   background: none;
   border: none;
   color: white;
   font-size: 1.2em;
   cursor: pointer;
}

h2 {
   margin-top: 0;
}

.volume-slider {
   width: 100%;
   -webkit-appearance: none;
   appearance: none;
   height: 5px;
   background: var(--text-color);
   outline: none;
   transition: opacity 0.2s;
}

.volume-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 15px;
   background: var(--text-color);
   cursor: pointer;
   border-radius: 50%;
}

.volume-slider::-moz-range-thumb {
   width: 15px;
   height: 15px;
   background: var(--text-color);
   cursor: pointer;
   border-radius: 50%;
}

.color-picker {
   width: 100%;
   height: 45px;
   border-radius: 5px;
   cursor: pointer;
}

.mode-dropdown {
   width: 100%;
   padding: 10px;
   font-size: 1em;
   border-radius: 5px;
   border-width: 2px;
   border-color: var(--text-color);
   background: transparent;
   color: var(--text-color);
   transition: background 0.3s ease, color 0.3s ease;
   cursor: pointer;
}

.mode-dropdown option {
   color: black;
}

.mode-dropdown:hover {
   background: var(--text-color);
   color: var(--bg-primary);
   cursor: pointer;
}

.about-button {
   width: calc(100% - 40px);
   padding: 10px;
   margin: 20px;
   background: transparent;
   border-color: var(--text-color);
   border-width: 2px;
   color: var(--text-color);
   cursor: pointer;
   font-size: 1em;
   border-radius: 5px;
   position: absolute;
   bottom: 40px;
   left: 0;
}

.about-button:hover {
   background: var(--text-color);
   color: var(--bg-primary);
   transition: all 0.3s ease;
}

.no-spacing {
   margin: 0;
   padding: 0;
}

.volume-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.volume-percentage {
   margin-left: 10px;
   font-size: 1em;
   width: 50px;
}

.test-volume-button {
   width: 100%;
   padding: 10px;
   margin-top: 20px;
   background: transparent;
   border-color: var(--text-color);
   border-width: 2px;
   color: var(--text-color);
   cursor: pointer;
   font-size: 1em;
   border-radius: 5px;
}

.test-volume-button:hover {
   background: var(--text-color);
   color: var(--bg-primary);
   transition: all 0.3s ease;
}

.close-button:hover {
   background-color: #000000;
   color: #ffffff;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}