:root {
    --bg-primary: #ffffff;
    --bg-secondary: #cfcfcf;
    --text-color: #121212;
}

[data-theme="dark"] {
    --bg-primary: #121212;
    --bg-secondary: #2a2a2a;
    --text-color: #E0E0E0;
}