.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.todo-list {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.pomodoro-timer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.notes-section {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

button {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}