.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.todo-list {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.pomodoro-timer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.notes-section {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

button {
  border-radius: 5px;
  border-color: #000000;
  padding: 5px;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:disabled {
  background-color: none;
  border-color: #000000;
  color: #000000;
  background-color: transparent;
  cursor: not-allowed;
  opacity: 50%;
}