.headerContainer {
   z-index: 1000;
}

.header {
   display: flex;
   height: 40px;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background-color: #78ad7a;
   color: white;
}

.site-name {
   font-size: 1.5em;
   font-weight: bold;
}

.presets-dropdown select {
   padding: 5px;
   font-size: 1em;
   border: none;
   border-radius: 5px;
   background-color: #fff;
   color: #333;
}

.badges {
   font-size: 1.2em;
   font-weight: bold;
}

.badge-button {
   background-color: transparent;
   color: white;
   border: none;
   font-size: 16pt;
   font-weight: bold;
   cursor: pointer;
}

.hamburger-icon {
   width: 24px;
   height: 24px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
 }

 .hamburger-icon span {
   display: block;
   width: 100%;
   height: 2px;
   background-color: currentColor;
   border-radius: 2px;
 }
