.pomodoro-timer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   flex-direction: column;
   padding: 20px;
}
 
.pomodoro-timer-display {
   font-size: 7rem;
   font-weight: bold;
   color: #3b7237;
}

.pomodoro-timer-buttons {
   display: flex;
   gap: 10px;
}

.pomodoro-timer-buttons button {
   padding: 10px 20px;
   font-size: 1.2rem;
   font-weight: bold;
   color: black;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s;
   width: 120px;
}

.pomodoro-timer-buttons button img{
   width: 1.5rem;
}

.pomodoro-timer-buttons button:hover img{
   filter: invert(100%);
}

.modal-line{
   display: flex;
   gap: 10px;
}

.inputField {
   padding: 5px;
   border-radius: 5px;
   background: transparent;
   width: 100px;
}

.hints {
   bottom: 10px;
   width: 100%;
   text-align: center;
   font-size: 1.2rem;
   font-style: italic;
   padding-top: 10%;
}