.timer {
   font-size: 7em;
}

.input-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
   opacity: 100%;
   transition: opacity 0.3s ease;
}

.input-container.hidden {
   opacity: 0%;
   pointer-events: none;
}

.inputField {
   flex-grow: 1;
   padding: 5px;
   border-radius: 5px;
   background: transparent;
}