.todoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
  z-index: 2;
  transition: transform 0.3s ease;
}

.todoContainer.hidden {
  transform: translateX(calc(75px - 100%));
}

.todotoggleButton {
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.todoHeader {
  opacity: 100%;
  transition: opacity 0.3s ease;
  margin-top: 50px;
  height: 33px;
}

.todoHeader.hidden {
  opacity: 0%;
  pointer-events: none;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.input-container.hidden {
  opacity: 0%;
  pointer-events: none;
}

.inputField {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  background: transparent;
}

.addButton, .clearButton {
  width: 50px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.clearButton:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 25%;
}

.tasksContainer {
  flex-grow: 1;
  opacity: 100%;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  max-height: calc(100vh - 244px);
}

.tasksContainer.hidden {
  opacity: 0%;
  pointer-events: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.task:hover {
  background-color: #dcdcdc;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.todo-checkbox {
  width: 20px;
}

.completedTask {
  flex-grow: 1;
  margin: 0 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.editInput {
  flex-grow: 1;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
}

.delTask {
  width: 20px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  opacity: 25%;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.delTask:hover {
  background: rgb(223, 63, 63);
  color: white;
  opacity: 100%;
}

.noButton {
  width: 50%;
  margin-right: 20px;
  background: none;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  color: black;
}

.yesButton {
  width: 50%;
  margin-left: 20px;
  background: none;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  color: black;
}

.yesButton:hover {
  background-color: rgb(223, 63, 63);
  border-color: rgb(223, 63, 63);
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.bottom-spacing {
  margin-bottom: 25px;
}

.buttonText {
  margin: 0;
  padding: 5px;
}